* {
	padding: 0;
	margin: 0;
  }
  
  .container {
	display: flex;
	flex-wrap: wrap;
	margin: 9rem auto;
	max-width: 1000px;
  }
  .container .content {
	padding: 2rem;
	font-size: 2rem;
  }
  
  .left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
  }
  .left img {
	height: 150px;
  }
  .right {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	color:#fff;
  }
  
  .bar {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	text-align: center;
	height: 120px;
	color: #fff;
  }
  
  .search {
	display: flex;
	width: 400px;
	background: #fff;
	border-radius: 8px;
	margin: 20px auto;
	padding: 12px;
  }
  .search input[type=text] {
	width: 375px;
	border: none;
	font-size: 18px;
	font-weight: 600;
  }
  .search input[type=text]:focus {
	outline: none;
  }
  .search .closeBtn {
	padding: 0.25rem;
	color: #050505;
	opacity: 0;
	transition: all 0.4s;
	cursor: pointer;
  }
  .search .closeBtn.active {
	opacity: 1;
  }
  .city {
	text-transform: capitalize;
  }