<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html>
<head>
    <title>Weather App</title>
    <style>
        body {
            background: {{color}};
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <div class="weather-icon">
            <img src="{{ icon }}"/>
        <h1>{{ title }}</h1>
        </div>
        <div class="searchBox-fakeInput">
            <div class="searchBox-inputWrapper">
                <input type="text" class="form-control searchBox-input js-searchBox-input" placeholder="Search" id="city" name="city" required>
            </div>
        <div class="searchBox-clearWrapper">
            <script>"test.js"</script>
            <span class="searchBox-clear js-clearSearchBox"><i class="fa fa-times-circle"></i></span>
            </div>
        </div>
    </form>
    {% if city %}
        <div class="city">
        <h2>{{ city }}</h2>
        </div>
        <div class="weather-condition">
        <p>{{ condition }}, {{ temperature }}°C</p>
        </div>
        <div class="wind-speed">
        <p>Wind: {{ wind }} km/h</p>
        </div>
    {% endif %}
</body>
</html>